*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	max-width: 100%;
}


@font-face {
    font-family: 'pp_agrandirgrand_heavy';
    src: url('../fonts/ppagrandir-grandheavy-webfont.woff2') format('woff2'),
         url('../fonts/ppagrandir-grandheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_agrandirwide_light';
    src: url('../fonts/ppagrandir-widelight-webfont.woff2') format('woff2'),
         url('../fonts/ppagrandir-widelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
	background: rgb(0,6,56);
}

/* html, body{
	display: flex;
	flex-direction: column;
	height:100vh;
	margin 0;
  } */

body{
	background: linear-gradient(180deg, rgba(15,51,125,1) 0%, rgba(0,6,56,1) 59%);
	background-repeat: no-repeat;
}

video {
	width: 100%;
	height: auto;
  }

.container-teaser{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	height: 100%;
}

.header{
	padding: 45px 0;
	text-align: center;
}

.header .logo{
	width: 135px;
}

h1{
	font-family: 'pp_agrandirgrand_heavy';
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 16px;
	font-size: 22px;
}

.subtitle{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.subtitle img{
	
}

.video-section .video-wrap{
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

@media (min-width:768px){
	.none{
		display: none;
	}

	.subtitle img{
		width: 70%;
	}

	.header{
		text-align: right;
	}	

	.video-section .video-wrap{
		width: 50%;
	}	

	.videodiv{
		text-align: center;
	}
	.video-wrap{
		width: 50%;
	}

}

